<h3>Agregar:  {{ name() }}</h3>

    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    /> <!-- [value]="name()" > will print the name of the signal declared in the ts -->

    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(txtPower.valueAsNumber)"
      #txtPower
    />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
