<h1>Dragonball Page</h1>
<hr />

<section class="row">

  <div class="col-12 col-sm-6">

    <h3>Agregar:</h3>

    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control mt-2" placeholder="Poder" />

    <button class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">

    <h3>Personajes:</h3>

    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      <li>
        <!-- +1 > the arrays always start at 0, if you want to display in 1 you must add 1 -->
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <strong [class.text-danger]="character.power > 9000" [class.text-primary]="character.power <= 9000">
          <!-- [ngClass]="powerClasses()" -->
          ({{ character.power }})</strong>
      </li>}
    </ul>

  </div>

</section>
