<style>
  nav{
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active{
    color: red;
    text-decoration: underline;
  }
</style>

<nav>
  <!-- routerLink defines which component the link belongs to -->
  <!-- routerLinkActive defines the class to apply when the link is active -->
  <!-- routerLinkActiveOptions with exact: true means that the link will be active
      only when the url is exactly the same as the link -->
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">Dragonball</a>
  <a routerLink="/dragonball-super" routerLinkActive="active">Dragonball Super</a>
</nav>
