<h3>{{ listName() }}</h3>

<ul>
  @for (character of characters(); track character.id; let idx = $index) {

    @if (character.power > 500){
      <li>
        <!-- +1 > the arrays always start at 0, if you want to display in 1 you must add 1 -->
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <strong [class.text-danger]="character.power > 9000"
          [class.text-primary]="character.power <= 9000">
          <!-- [ngClass]="powerClasses()" -->
          ({{ character.power }})</strong>
      </li>} @else {
      <li><strong>Aquí no hay nada</strong></li>
    }
  }
</ul>
